


<html>
<head>
  <link rel="stylesheet" href="../css/customer_login_page.css">
  <link rel="stylesheet" href="../css/generic.css">
</head>
<body>

<div id = "customer_login_cover">

	<div id = "customer_login_content">

		<div id = "customer_login_title_outer">
			<div id = "customer_login_title">ToYoDo</div>
			<div id = "customer_login_description">Get access to your Orders, Wishlist and Recommendations</div>
		</div>

		<div id = "customer_login_login_div">
			<div>
				<div id = "customer_login_sign_in">Customer Sign In</div>
				<input type="text" id="customer_login_username" name="Username" placeholder = "Username">
				<br><br>
				<input type="text" id="customer_login_password" name="Password" placeholder="Password" type = "password">
				<br><br>
				<button id = "customer_login_submit" type="button">Sign in</button>
			</div>
		</div>

	</div>
	
</div>


</body>
<iframe src = "footer.html"></iframe>
</html>